<div class="client-details-container">
    <h2 class="details-title">Client Details</h2>
    <div class="client-info">
        <ng-container *ngIf="client">
            <p><strong>Client ID:</strong> {{ client.client_id }} </p>
            <p><strong>Full Name:</strong> {{ getFullName(client) }} </p>
            <p><strong>Phone Number:</strong> {{ client.phone_number }} </p>
            <p><strong>Date of Birth:</strong> {{ client.dob| date: 'longDate' }}</p>
            <p><strong>City:</strong> {{ client.city }} </p>
            <p><strong>Gender:</strong> {{ client.gender }} </p>
            <p><strong>Created At:</strong> {{ client.created_at| date: 'medium' }}</p>
        </ng-container>
        <ng-container *ngIf="client == undefined">
            <b>No Client is Present</b>
        </ng-container>
    </div>

    <h3 class="tasks-title">Tasks</h3>
    <div class="tasks-list">
        <div class="task-card" *ngFor="let task of clientTasks">
            <p><strong>Task ID:</strong> {{ task.task_id }} </p>
            <p><strong>Task Name:</strong> {{ task.title }} </p>
            <p><strong>Task Status:</strong> {{ task.status }} </p>
            <button class="task-details-button" (click)="seeTaskDetails(task)">See Task Details</button>
            <hr>
        </div>
        <ng-container>
            <div class="task-card" *ngIf="clientTasks.length == 0">
                <p><strong>No task is present</strong></p>
            </div>
        </ng-container>
    </div>

    <button class="back-button" (click)="goBack()">Back</button>
</div>