<div class="fixer-details-container">
  <ng-container *ngIf="fixer">
    <h2 class="fixer-title"> {{ getFullName(fixer) }}</h2>
    <div class="fixer-info">
      <p><strong>Fixer ID:</strong> {{ fixer.fixer_id }}</p>
      <p><strong>Phone Number ID:</strong> {{ fixer.phone_number }}</p>
      <p><strong>Date of Birth:</strong> {{ fixer.dob | date: 'longDate' }}</p>
      <p><strong>City:</strong> {{ fixer.city }}</p>
      <p><strong>Gender:</strong> {{ fixer.gender }}</p>
      <p><strong>Registered At:</strong> {{ fixer.created_at | date: 'longDate' }}</p>
    </div>

    <h3 class="media-title">Images</h3>
    <div class="media-list">
      <div class="media-item" *ngFor="let media of fixer.profile_image">
        <img [src]="media" [alt]="'Profile Image'" class="media-image" />
      </div>
      <div class="media-item" *ngFor="let media of fixer.cnic_front">
        <img [src]="media" [alt]="'NID Front Side Image'" class="media-image" />
      </div>
      <div class="media-item" *ngFor="let media of fixer.cnic_back">
        <img [src]="media" [alt]="'NID Back Side Image'" class="media-image" />
      </div>
      <div class="media-item" *ngFor="let media of fixer.certificates_image">
        <img [src]="media" [alt]="'Certificates Images'" class="media-image" />
      </div>
    </div>
    <h3>Category</h3>
    {{ fixer.category_id }}
    <h3 class="category-title">Categories</h3>
    <div class="category-list">
      <div class="category-item" *ngFor="let c of fixer.category_id">
        <p><strong>{{ c }}</strong></p>
      </div>
    </div>
    <!-- <div class="proposals-list">
      <div class="proposal-item" *ngFor="let c of fixer.category_id">
        <p><strong>{{ c }}</strong></p>
      </div>
    </div> -->
    <h3 class="proposals-title">Proposals</h3>
    <div class="proposals-list">
      <div class="proposal-item" *ngFor="let proposal of proposals">
        <p><strong>Proposal ID:</strong> {{ proposal.proposalId }}</p>
        <p><strong>Service Cost:</strong> ${{ proposal.service_cost }}</p>
        <p><strong>Apparatus Cost:</strong> ${{ proposal.apparatus_cost }}</p>
        <p>
          <strong>Estimated Duration:</strong> {{ proposal.estimated_duration }}
        </p>
        <p>
          <strong>Proposal Date:</strong>
          {{ proposal.date | date : "medium" }}
        </p>
        <p>
          <strong>Proposal Time:</strong>
          {{ proposal.time }}
        </p>
        <p><strong>Status:</strong> {{ proposal.status }}</p>
        <button class="proposal-details-button" (click)="seeTaskDetails(proposal)">See Task Details</button>
        <hr />
      </div>
    </div>

    <!-- New Approve and Decline Buttons -->
    <div class="fixer-action-buttons" *ngIf="isNewFixer">
      <button class="approve-button" (click)="approveFixer(fixer)">Approve Fixer</button>
      <button class="decline-button" (click)="declineFixer(fixer)">Decline Fixer</button>
    </div>
    <!-- <button class="back-button" (click)="goBack()">Back</button> -->
  </ng-container>
</div>